<div class="main-container camera-entry" [class]="detectionColor" [ngClass]="{'color-waiting': isWaiting(), 'camera-exit': hideCamera}">
  <div class="video-container">
    <video
    #videoElement
    class="video-element"
    (loadedmetadata)="loadedMetaData()"
    (play)="playListener()"
    [srcObject]="stream"
    (click)="mostrarControles()"
    ></video>
  
    <div
    *ngIf="haveDetection"
    class="banner-container"
    [ngClass]="{'banner-show': showBanner, 'banner-hide': hideBanner}"
    >
      <canvas
      #canvasBanner
      class="banner-canvas"
      width="50"
      height="50"
      ></canvas>
      <div class="banner-text" *ngIf="haveDetection || !haveDetection">Rostro detectado</div>
    </div>
  
    <div class="waiting-container" *ngIf="!isVideoPlaying || faceRecognitionService.isFaceRecognitionServiceStarted() && !faceRecognitionService.isRecognitionLoaded || haveDetection">
      <app-waiting></app-waiting>
    </div>
  </div>

  <div class="sub-container">
    <div class="sub-container-border-invert"></div>

    <div class="onOff-button-container">
      <app-on-off-switch [checkedValue]="faceRecognitionService.isFaceRecognitionServiceStarted()" (change)="onStartStopService($event)"></app-on-off-switch>
    </div>

    <select id="video-devices" (change)="onSelect($event)">
      <option *ngFor="let device of videoDevices" [value]="device.deviceId">{{ device.label || 'Camara sin nombre' }}</option>
    </select>
    <div class="delete-button-container">
      <app-delete-button (click)="deleteCamera()"></app-delete-button>
    </div>
  </div>
</div>

<div *ngIf="controles" style="margin-top: 20px;">
  <input type="checkbox" [checked]="faceRecognitionService.isFaceRecognitionServiceStarted()" (change)="onStartStopService($event)">
  <div>
    <button (click)="startStream()">Iniciar stream</button>
    <button (click)="stopStream()">Detener stream</button>
  </div>
  <div>
    <button (click)="identificarManual()">Identificar</button>
    <button (click)="deteccionOkFail()"> Deteccion OK/FAIL</button>
  </div>
  <div>
    <button (click)="ocultarBanner()">Ocultar banner</button>
    <button (click)="mostrarBanner()">Mostrar banner</button>
  </div>
</div>