<div
  class="main-container camera-show-anim"
  [class]="detectionColorStyle"
  [ngClass]="{ 'color-waiting': isWaiting(), 'camera-hide-anim': cameraHideAnim }"
>
  <div class="video-container">
    <video
      #videoElement
      class="video-element"
      (loadedmetadata)="loadedMetaData()"
      (play)="playListener()"
      [srcObject]="stream"
      (click)="mostrarControles()"
    ></video>

    <div
      *ngIf="showBanner"
      class="banner-container banner-show-anim"
      [ngClass]="{ 'banner-hide-anim': bannerHideAnim }"
    >
      <canvas
        #canvasBanner
        class="banner-canvas"
        width="50"
        height="50"
      ></canvas>
      <div class="banner-text">{{ bannerText }}</div>
    </div>

    <div class="waiting-container" *ngIf="isWaiting()">
      <app-waiting></app-waiting>
    </div>
  </div>

  <div class="sub-container">
    <div class="sub-container-border-invert"></div>

    <div class="onOff-button-container">
      <app-on-off-switch
        [checkedValue]="
          faceRecognitionService.isFaceRecognitionServiceStarted()
        "
        (change)="onStartStopService($event)"
      ></app-on-off-switch>
    </div>

    <select id="video-devices" (change)="onSelect($event)">
      <option *ngFor="let device of videoDevices" [value]="device.deviceId">
        {{ device.label || "Camara sin nombre" }}
      </option>
    </select>
    <div class="delete-button-container">
      <app-delete-button (click)="deleteCamera()"></app-delete-button>
    </div>
  </div>
</div>

<div *ngIf="controles" style="margin-top: 20px">
  <input
    type="checkbox"
    [checked]="faceRecognitionService.isFaceRecognitionServiceStarted()"
    (change)="onStartStopService($event)"
  />
  <div>
    <p-button severity="secondary" (click)="startStream()"
      >Iniciar stream</p-button
    >
    <p-button severity="secondary" (click)="stopStream()"
      >Detener stream</p-button
    >
  </div>
  <div>
    <p-button severity="secondary" (click)="ocultarBanner()"
      >Ocultar banner</p-button
    >
    <p-button severity="secondary" (click)="mostrarBanner()"
      >Mostrar banner</p-button
    >
  </div>
</div>
